@import "../../style.scss";

.share{
  @include themify($themes) {
  width: 130%;
  margin-bottom: 20px;
  font-family:  Arial, Helvetica, sans-serif;
  height: 170%;
  background-color: themed("bg");
  color: themed("textColor");
  border-radius: 10px;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
  box-shadow: 2px 4px 10px 1px rgba(74, 71, 71, 0.47);

  .shareWrapper{
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .shareTop{
          display: flex;
          align-items: center;

          .shareProfileImg{
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin-right: 10px;
              border: 1px solid #011631;
              object-fit: cover;
          }

          .shareInput{
              border: none;
              font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
              'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
              sans-serif;
              color: themed("textColor");
              background-color: transparent;
              font-size: 18px;
              width: 80%;
              height: 30px;

              &:focus{
                  outline: none;
              }
          }

      }
      .shareHr{
          margin: 10px;
      
      }

      .shareImgContainer{
          padding: 0 20px 10px 20px;
          position: relative;

          .shareImg{
              width: 100%;
              object-fit: contain;
          }

          .shareCancelImg{
              position: absolute;
              top: 0;
              right: 20px;
              background-color: themed("bg");
              padding: 5px;
              border-radius: 50%;
              cursor: pointer;
          }
      }

      .shareBottom{
          display: flex;
          align-items: center;
          justify-content: space-between;

          .shareOptions{
              display: flex;
              align-items: center;
              margin-left: 20px;
              justify-content: space-around;
              width: 90%;

              .shareOption{
                  display: flex;
                  align-items: center;
                  margin-right: 20px;
                  cursor: pointer;

                  .shareIcon{
                      font-size: 30px;
                      margin-right: 10px;
                  }

                  .shareOptionText{
                      font-size: 14px;
                      font-weight: 600;
                  }
              }
          }
      }



  }
}
}